.MainWrapper {
    /* TODO: Improve in future */
    --problem-eager: #ea580c;
    --problem-eager-bg: #fff7ed;
    --problem-list-mtm: #7c3aed;
    --problem-list-mtm-bg: #f5f3ff;
    --problem-cascade: #dc2626;
    --problem-cascade-bg: #fef2f2;
    --problem-unidirectional: #0891b2;
    --problem-unidirectional-bg: #ecfeff;

    display: flex;
    flex-direction: column;
    gap: 24px;
}

.Toolbar {
    display: flex;
    flex-direction: column;
    gap: 18px;
}
