.MainWrapper:not(:last-child) {
    border-bottom: 1px solid var(--axelix-light-grey);
}

.Row {
    display: grid;
    grid-template-columns: var(--em-columns);
    gap: 16px;
    align-items: center;
    min-height: 65px;
    padding: 20px;
    cursor: pointer;
}

.Row:hover {
    background-color: #f9f9f9;
}

.Entity {
    display: flex;
    flex-direction: column;
    gap: 5px;
    min-width: 0;
}

.Name {
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Subtitle {
    color: var(--axelix-bold-grey);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.Associations {
    display: flex;
    flex-direction: column;
    gap: 2px;
}

.Mapped {
    font-weight: 600;
}

.Flagged {
    color: var(--problem-cascade);
    font-weight: 600;
}

.Problems {
    display: flex;
    gap: 8px;
    align-items: center;
    overflow: hidden;
}

.More {
    flex-shrink: 0;
    display: inline-flex;
    align-items: center;
    padding: 4px 8px;
    border-radius: 999px;
    background-color: var(--axelix-light-grey);
    color: var(--axelix-bold-grey);
    font-weight: 600;
}

.Caret {
    justify-self: center;
    color: var(--axelix-bold-grey);
}
